<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Cocktails Galore!!!</h1>
  </div>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= cocktail.name %> - <%= link_to 'Show', cocktail %>
    </div>
  <% end %>
</div>

<%= cl_image_tag('tnth9jkdygbhyokrwpvx', width: 400, height: 300, crop: :fill) %>

<%= link_to 'New COCKTAIL', new_cocktail_path %>