<div class="form-container">
  <div class="form-elements">
    <h1>New Cocktail</h1>

    <%= render 'form', cocktail: @cocktail%>

    <button type="button" class="btn btn-outline-primary back-btn"><%= link_to 'Back', root_path %></button>
  </div>
</div>